body{
   background:#79cbeb;
}


h1 {
   text-align: center;
   color: rgb(4, 81, 33);
}

div {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    float: right;
    width: 30%;
    margin-right: 10%;
}

li {
    cursor: pointer;
    background-color: #c94773; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #24ace2;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

li:hover {
    background-color: #008b8b;
}

.film-card {
    display: flex;
    background-color: #7ba6e2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #72fa23;
    margin: 20px;
    float: left;
    width: 500px;
    height: 545px;
    position: relative;
}

.active {
    display: flex;
}

img {
    float: right;
    margin: 10px;
    border-radius: 20px;
    height: 540px;
    width: 450px;
}

button {
    background-color: #b242c6;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right-bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

button:hover {
    background-color: #42d1d1;
}
